Repository matthias-wende-frequenz/frequenz-sdk-python, changes with the labels that .github/labeler.yml gives for each.
All labels: part:actor, part:config, part:core, part:data-pipeline, part:docs, part:microgrid, part:power-distribution, part:tests, part:tooling

.github/labeler.yml:

# Configuration for the Labeler GitHub action, executed by
# .github/workflows/labeler.yml.
#
# The basic syntax is [label]: [path patterns].
#
# For more details on the configuration please see:
# https://github.com/marketplace/actions/labeler

"part:actor":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/sdk/actor/**"

"part:config":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/sdk/config/**"

"part:core":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/sdk/_internal/**"

"part:data-pipeline":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/sdk/_data_handling/**"
      - "src/frequenz/sdk/_data_ingestion/**"
      - "src/frequenz/sdk/timeseries/**"

"part:docs":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**"
      - "examples/**"
      - LICENSE

"part:microgrid":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/sdk/microgrid/**"

"part:power-distribution":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/sdk/power/**"

"part:tests":
  - changed-files:
    - any-glob-to-any-file:
      - "**/conftest.py"
      - "tests/**"

"part:tooling":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.ini"
      - "**/*.toml"
      - "**/*.yaml"
      - "**/*.yml"
      - "**/conftest.py"
      - ".editorconfig"
      - ".git*"
      - ".git*/**"
      - "docs/*.py"
      - CODEOWNERS
      - MANIFEST.in
      - noxfile.py

refactor(power-managing): simplify matryoshka allocation logic
  src/frequenz/sdk/microgrid/_power_managing/_matryoshka.py
  src/frequenz/sdk/microgrid/_power_managing/_shifting_matryoshka.py
Labels: part:microgrid

refactor(ev-charger): use redistribution for target power updates
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
Labels: part:microgrid

docs(ev-charger): add EV charger manager refactor plan
  PLAN_ev_charger_manager_refactor.md
Labels: part:docs

refactor(ev-charger): add power redistribution helper
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
Labels: part:microgrid

test(power-managing): add coverage for matryoshka allocation changes
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/_power_managing/test_shifting_matryoshka.py
Labels: part:tests

fix(ev-charger): redistribute power on connection and bound changes
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
Labels: part:microgrid

test(ev-charger): update pool tests for immediate redistribution
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
Labels: part:tests

refactor(ev-charger): remove ramp and initial-current configuration
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_config.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_states.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
Labels: part:microgrid, part:tests

fix(ev-charger-manager): respect minimum charging bounds
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
Labels: part:microgrid, part:tests

fix(ev-charger-manager): stop emitting spurious work on data events
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
Labels: part:microgrid

fix(ev-charger-pool): aggregate system lower bound as per-charger minimum
  src/frequenz/sdk/timeseries/ev_charger_pool/_system_bounds_tracker.py
Labels: part:data-pipeline

test(ev-charger-pool): align tests with fixed startup and bounds aggregation
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
Labels: part:tests

docs: add EV charger fallback power release note
  RELEASE_NOTES.md
Labels: part:docs

fix(microgrid): set EV charger fallback power to zero
  src/frequenz/sdk/microgrid/_data_pipeline.py
Labels: part:microgrid

Add uv lockfile and EV charger config sprint notes
  SPRINT_configurable_ev_charger_min_current.md
  pyproject.toml
  uv.lock
Labels: part:docs, part:tooling

fix(ev-charger): control chargers with bounds
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/utils/mock_microgrid_client.py
Labels: part:microgrid, part:tests

test(ev-charger): cover EV-side-only cable connection state
  tests/microgrid/power_distributing/_component_status/test_ev_charger_status.py
Labels: part:tests

fix(ev-charger): accept EV-side cable state as connected
  src/frequenz/sdk/microgrid/_old_component_data.py
Labels: part:microgrid

Surface EV charger rated power bounds
  src/frequenz/sdk/microgrid/_old_component_data.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_system_bounds_tracker.py
  tests/microgrid/test_ev_charger_data.py
  tests/timeseries/_ev_charger_pool/test_system_bounds_tracker.py
  tests/utils/component_data_wrapper.py
Labels: part:data-pipeline, part:microgrid, part:tests

fix(ev-charger): assume connected when no cable state is reported
  src/frequenz/sdk/microgrid/_old_component_data.py
  tests/microgrid/test_ev_charger_data.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
Labels: part:microgrid, part:tests

fix(ev-charger): prevent operator-bound feedback from capping system bounds
  src/frequenz/sdk/timeseries/ev_charger_pool/_system_bounds_tracker.py
Labels: part:data-pipeline

fix(ev-charger): ignore echoed caps in allocator
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
Labels: part:microgrid, part:tests

fix(ev-charger): ignore unknown bound sentinels
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_system_bounds_tracker.py
  tests/timeseries/_ev_charger_pool/test_system_bounds_tracker.py
Labels: part:data-pipeline, part:microgrid, part:tests

feat(power-manager): support configurable proposal lifetimes
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_managing/_base_classes.py
  src/frequenz/sdk/microgrid/_power_managing/_matryoshka.py
  src/frequenz/sdk/microgrid/_power_managing/_shifting_matryoshka.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/component_pool/_component_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  tests/actor/_power_managing/test_proposal_lifetime.py
Labels: part:data-pipeline, part:microgrid, part:tests

fix(power-manager): recalculate targets after proposal expiry
  src/frequenz/sdk/microgrid/_power_distributing/request.py
  src/frequenz/sdk/microgrid/_power_managing/_base_classes.py
  src/frequenz/sdk/microgrid/_power_managing/_matryoshka.py
  src/frequenz/sdk/microgrid/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/_power_managing/_shifting_matryoshka.py
  tests/actor/_power_managing/test_proposal_lifetime.py
Labels: part:microgrid, part:tests

fix(ev-charger): align operator-bound validity with proposal lifetime
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  tests/microgrid/power_distributing/test_ev_charger_manager_bounds_validity.py
Labels: part:data-pipeline, part:microgrid, part:tests

build(deps): temporarily point client at patched fork branch
  pyproject.toml
  uv.lock
Labels: part:tooling

docs: document EV proposal expiry and bounds validity
  RELEASE_NOTES.md
  sprint_sdk_configurable_proposal_lifetime.md
  sprint_sdk_ev_proposal_expiry_and_bounds_validity.md
  sprint_sdk_ev_rated_bounds.md
Labels: part:docs
